<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{content}}</p>
  <p>Created by {{user.username}} on {{date_created}}</p>
<input type="hidden" id="postid" value="{{id}}">
</p>
  {{#each comments as |comment|}}
  <div>
    <p>{{comment.user.username}} commented {{comment.content}} on {{comment.createdAt}}</p>
    {{!-- <p>{{comment.content}}</p> --}}
  </div>
  {{/each}}
{{#if logged_in}}
  <div>
    <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
    <button id="commentbutton"class="btn btn-primary">Comment on this post!</button>
  </div>
  {{/if}}
</div>

<script src="/js/comment.js"></script>